<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body style="gap:10px;display:flex;flex-direction: column;">
    <h3>Xive Blog</h3>
    <div style="font-size: x-large;font-weight: bolder;"><%= article.title %></div>
    <span style="color:gray;"><%= article.dateOfPublication %></span>
    <p><%= article.content %></p>
</body>

</html>