<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h3>Xive Blog</h3>
    <% articles.forEach(function (article) { %>
        <div style="display:flex;gap:10px;align-items: center;">
            <a href="/articles/<%= article.id %>""}><%= article.title %></a>
            <div><%= article.dateOfPublication %></div>
        </div>
    <% }) %>
</body>

</html>